#page {
  display: flex;
  justify-content: center;
  align-self: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/363/072/small_2x/ai-generated-side-view-of-commercial-airplane-isolated-on-transparent-background-passenger-plane-generative-ai-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#name {
  font-size: auto;
}

@media (min-width: 600px) {
  #medium-box {
    display: flex;
  }
}

@media (max-width: 600px) {
  #mini-box-about {
    width: 70%;
  }
  #mini-box-creators {
    width: 30%;
  }
}

#box {
  width: max-content;
  height: fit-content;
  content: center;
  align-self: center;
  background: rgb(51, 51, 51, 0.75);
  position: relative;
  border-radius: 20px;
}

#mini-box-about {
  height: fit-content;
  content: center;
  align-self: center;
}

#mini-box-creators {
  height: fit-content;
  content: center;
  align-self: center;
}

h1 {
  padding: 15px;
  padding-left: 30px;
  content: top;
  align-items: left;
  color: white;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
  color: white;
}
