#page {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-self: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/363/072/small_2x/ai-generated-side-view-of-commercial-airplane-isolated-on-transparent-background-passenger-plane-generative-ai-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mini-box-about {
  width: 40vw;
  height: 60vh;
  content: center;
  align-self: center;
}

#mini-box-creators {
  width: 20vw;
  height: 60vh;
  content: center;
  align-self: center;
}

#box {
  width: 40vw;
  height: 60vh;
  content: center;
  align-self: center;
  display: flex;
  background: rgb(51, 51, 51, 0.75);
  position: relative;
  border-radius: 20px;
}

h1 {
  padding: 15px;
  content: top;
  align-items: left;
  color: white;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
  color: white;
}
