@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

#main-page {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/363/072/small_2x/ai-generated-side-view-of-commercial-airplane-isolated-on-transparent-background-passenger-plane-generative-ai-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-page .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 70vh;
}

#main-page .form-container form::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 55vh;

  z-index: -1;
}

/* Kui ekraan on liiga väike siis menüü on pikklik. >1650px inpunt muutub reaks */
@media (min-width: 1650px) {
  #main-page .form-container form {
    /*see muudab reast torniks*/
    display: flex;
    position: relative;
  }
  #main-page .form-container form::after {
    width: 75vw;
    height: 25vh;
  }
}

#main-page .form-container form {
  position: relative;

  align-items: center;
  justify-content: space-around;
  margin: 20%;
  background: rgba(51, 51, 51, 0.75);
  z-index: 1;
  color: #fff;
  border-radius: 20px;
  padding: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label,
input {
  color: #fff;
  font-size: 20px;
}

input::placeholder {
  color: #fff;
  /* font-size: 20px; */
}

label {
  font-weight: bold;
}

input {
  background: transparent;
  border: none;
  border-bottom: #fff 2px solid;
}

input:focus {
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa-search {
  font-size: 42px;
  color: #bbbbbb;
  cursor: pointer;
}

.main-flight-search {
  padding-bottom: 10px;
}

#no-found {
  color: #ff3021;
  text-align: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
  color: black;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}
