@media (min-width: 700px) {
  .header {
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    margin: 0;
    font-size: 30px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 65px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .header {
    color: white;
    padding: 15px;
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 30px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
  }
}
